<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Node Site</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body class="site-body">
<!-- HEADER -->
  <div class="page-wrap">


  
  <!-- MAIN CONTENT HERE -->
  <%- defineContent('hero') %>

  <main>
    <div class="container">
      <%- body %>
    </div>
  </main>

  </div>
  <!-- Footer -->
<script src="/js/vendors/socket.io.js"></script>
<script src="/js/vendors/phaser.js"></script>
<script src="/js/app.js"></script>
</body>
</html>