.lobby-container {
    
}

.room-list {
    width: 400px;
    display: block;
    margin: 0 auto;
}

.room-item {
    display: inline-block;
    width: 100%;
}

.room-item div {
    display: inline-block;
    width: 30%;
}